.first,
.second,
.third {
    width: 25vw; /* vw refers to the width of the screen */
    height: 10vh; /* vh refers to the weight of the screen */
    margin: 5px;
    top: 0px;
    padding: 15px;
    border-width: 20px;
    border-style: solid;
    text-align: center;
    text-transform: uppercase;
    font-size: large;
    position: absolute;
}

.first {
    background-color: red;
    color: blue;
    border-color: green;
}

.second {
    background-color: yellow;
    margin-left: 100px;
    left: 250px;
    color: blue;
    border-color: red;
}

.third {
    background-color: green;
    margin-left: 100px;
    left: 600px;
    color: blue;
    border-color: yellow;
}